fastapi
uvicorn
python-multipart

langchain
langchain-groq
langchain-community
langgraph
langchain-text-splitters

tavily-python
langchain-openai
# langchain-google-genai

PyMuPDF
python-docx

sentence-transformers
faiss-cpu

pytesseract
Pillow
easyocr
opencv-python-headless

pydantic
pydantic-settings
python-dotenv
numpy
